<a href="https://colab.research.google.com/github/Nikitaanand22/Calculator.py/blob/main/Semester2%E2%80%93_104.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a = 9
b = 8
c = a+b
print(c)

x = 5
y=10
z=x*y
print(z)

17
50

basic dat types
1. Numbers

In [ ]:
x= 3
print(x,type(x))

print(x+1) #addition
print(x-1) # subtraction
print(x*2) # multiplication
print(x**2) # exponentiation

3 <class 'int'>
4
2
6
9

In [ ]:
y = 2.5
print(type(y))
print(y, y + 1, y * 2, y ** 2)

<class 'float'>
2.5 3.5 5.0 6.25

2.Booleans

In [ ]:
t,f = True, False
print(type(t))

<class 'bool'>

In [ ]:
print(t and f) #logical AND;
print(t or f) #logical OR;
print(not t) #logical NOT;

False
True
False

3.Strings

In [ ]:
hello = 'hello' #string literals can use single quotes
world = "world" #or doublr quotes;it does not matter
print(hello, len(hello))

hello 5

In [ ]:
hw12 = '{} {} {}'.format(hello, world, 12) # string formatting
print ('hw12')

NameError: name 'hello' is not defined

In [ ]:
s = "hello"
print(s.capitalize()) # capitalize a string
print(s.upper())      #convert a string to uppercase; prints "HELLO"
print(s.rjust(7))     #Right-justify a string,padding with spaces
print(s.center(7))    #center a string,padding with spaces
print(s.replace('1', 'ell'))  #replace all instances of one substring with another

Hello
HELLO
  hello
 hello
hello

4.container

In [ ]:
xs = [3 , 1, 2]
print(xs, xs[2])
print(xs[-1])

[3, 1, 2] 2
2

In [ ]:
xs[2] = 'foo'
print(xs)

[3, 1, 'foo']

In [ ]:
xs.append('bar')
print(xs)

[3, 1, 'foo', 'bar']

5.Dictionaries

In [ ]:
d = {'cat': 'cute', 'dog': 'forry'}
print(d['cat'])

cute

slicing

In [ ]:
nums = list(range(5))
print(nums)
print(nums[2:4])
print(nums[2:])
print(nums[:2])
print(nums[:])
print(nums[:-1])
print(nums[2:4])
nums[2:4] = [8,9]
print(nums)

[0, 1, 2, 3, 4]
[2, 3]
[2, 3, 4]
[0, 1]
[0, 1, 2, 3, 4]
[0, 1, 2, 3]
[2, 3]
[0, 1, 8, 9, 4]

dictonaries :- A  dictonary story

In [ ]:
d = {'cat': 'cute', 'dog': 'furry'}
print(d['cat'])

cute

In [ ]:
d['fish'] = 'wet' #set an entry in a dictinary
print(d['fish'])

wet

In [ ]:
del d['fish'] #remove an element from a dictinary
print(d.get('fish','N/A'))

N/A

In [ ]:
d = {'person':2, 'cat':4, 'spider':8}
for animal, legs in d.items():
    print('A{} has {} legs'.format(animal,legs))

Aperson has 2 legs
Acat has 4 legs
Aspider has 8 legs

loop

In [ ]:
for i in range(1, 11):
    print(i)

# for i in range (1, 11):
#     print(i, end='')

1
2
3
4
5
6
7
8
9
10

In [ ]:
# program to print the multiplication table of a given number

num = int(input("enter a number: "))


print(f"\nMultiplication table of {num}:")
for i in range(1 , 11):
  print(f"{num} x {i} = {num * i}")

enter a number: 3

Multiplication table of 3:
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

sets

In [ ]:
animals = {'cat','dog'}
print('cat' in animals) #check if an elements is in a set; print "true"
print('fish' in animals)

True
False

In [ ]:
animals.add('fish')   #add an element to a set
print('fish' in animals)
print(len(animals))

True
3

In [ ]:
animals.add('cat')    #adding an element that is already in the set does nothing
print(len(animals))
animals.remove('cat') # remove an element from a set
print(len(animals))

3
2

tuples:()-ordered,NOT changable(immmutable),allows duplication

In [ ]:
d = {(x, x + 1): x for x in range(10)}  #create a dictionary with tuple keys
t = (5,6)        # create a tuple
print(type(t))
print(d[t])
print(d[(1,2)])

<class 'tuple'>
5
1

In [ ]:
# find the square root of a given no.

import math

num = float(input("enter a number: "))
sqrt_value = math.sqrt(num)

print(f"the square root of {num} is {sqrt_value}")

enter a number: 4
the square root of 4.0 is 2.0

In [ ]:
# TO DO- power function


x = float(input("enter the base number (x):"))
y = float(input("enter the exponent number (y):"))

result = math.pow(x, y)

print(f"{x} raised to the power {y} is {result}")

enter the base number (x):2
enter the exponent number (y):3
2.0 raised to the power 3.0 is 8.0

In [ ]:
# if-else
#program to check id a number is even or odd

num = int(input("enter a number: "))

if num % 2 == 0:
  print(f"{num} is an  even number.")
else:
  print(f"{num} is an odd number.")

enter a number: 2
2 is an  even number.

In [ ]:
#To-Do program to display the grade of a student based on marks


marks = float(input("enter your marks (out of 100): "))

if marks >= 90:
  grade = 'A'
elif marks >= 80:
  grade = 'B'
elif marks >= 70:
  grade = 'C'
elif marks >= 60:
  grade = 'D'
elif marks >= 50:
  grade = 'E'
else:
  grade = 'F'

print(f"your marks: {marks}")
print(f"your grade: {grade}")

enter your marks (out of 100): 90
your marks: 90.0
your grade: A

function: python function are defined using the def keywords for example

In [ ]:
def sign(x):
  if x > 0:
    return 'positive'
  elif x < 0:
    return 'negative'
  else:
    return 'zero'

for x in [-1, 0, 1]:
  print(sign(x))

negative
zero
positive

In [ ]:
# we will often define function to take optional keyword arguments, like this:

def hello(name, loud=False):
  if loud:
    print('HELLO, {}'.format(name.upper()))
  else:
    print('Hello, {}!'.format(name))

hello('Bob')
hello('Fred' , loud=True)

Hello, Bob!
HELLO, FRED

In [ ]:
# to do- simple calculator using function


def add(a,b):
  return a + b

def subtraction(a, b):
  return a - b

def multiply(a,b):
  return a * b

def divide(a,b):
  if b != 0:
      return a / b
  else:
      return "Error: Division by zero"

print("simple calculator")
print("1. Addition")
print("2. subtraction")
print("3. multiplication")
print("4. division")

choice = input("enter your choice (1/2/3/4): ")


num1 = float(input("enter the first number: "))
num2 = float(input("enter the second number: "))


if choice == '1':
  print(f"result: {num1} + {num2} = {add(num1, num2)}")

elif choice == '2':
    print(f"result: {num1} - {num2} = {subtraction(num1, num2)}")

elif choice == '3':
    print(f"result: {num1} * {num2} = {multiply(num1, num2)}")

elif choice == '4':
    print(f"result: {num1} / {num2} = {divide(num1, num2)}")

else:
  print("invalid choice! please select 1, 2, 3, or 4.")

simple calculator
1. Addition
2. subtraction
3. multiplication
4. division
enter your choice (1/2/3/4): 2
enter the first number: 1
enter the second number: 3
result: 1.0 - 3.0 = -2.0

Function in python
built-in function-standard function that come with python, such as print(),len(),range()etc.
user defined function-FUNCTIONs created by user to perform specific tasks.

In [ ]:
# combo of built and user defined function

def calc_fact(n):
  fact=1
  for i in range(1,n+1):
    fact=fact*i
  print(fact)

calc_fact(5)
calc_fact(6)

120
720

defult argument

In [ ]:
def country_name(country = "Norway"):
  print("I am from " + country)

country_name("Sweden")
country_name("India")
country_name()
country_name("Brazil")

I am from Sweden
I am from India
I am from Norway
I am from Brazil

In [ ]:
# passing a list as an argument
def food(fruits):
  for x in fruits:
    print(x)

fruits = ["apple", "banana", "cherry"]
food(fruits)

apple
banana
cherry

Return values To let a function return a value,use the return statements:

In [ ]:
def my_function(x):
  return 5 * x

print(my_function(3))
print(my_function(5))
print(my_function(9))

15
25
45

the pass statements

In [ ]:
def calc_sum(a,b):   #where a and b are parameters
   sum=a+b
   print(sum)

def myfunction():
  pass


calc_sum(10,20)  #where 10 and 20 are arguments
myfunction()

30

recursion function-

In [ ]:
def factories(n):
  if n == 0 or n == 1: #base case
      return 1
  else:
    return n * factories(n-1) #recursive case

print(factories(5)) #output: 120

120

In [ ]:
#To do- fibonacci series

def fibonacci(n):
  if n == 0: # base case
      return 0
  elif n == 1: # base case
      return 1
  else:
      return fibonacci(n-1) + fibonacci(n-2) #recursive call

# Test the function
print(fibonacci(6)) # output: 8

8