<a href="https://colab.research.google.com/github/Nikitaanand22/Calculator.py/blob/main/Untitled5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("IIT PATNA")

IIT PATNA

In [ ]:
print("hello world")

hello world

In [ ]:
print(" nikita is my name.","my age is 18.")

 nikita is my name. my age is 18.

In [ ]:
print("22")

22

In [ ]:
print(23+22)

45

In [ ]:
name =" nikita"
age = 18
price = 26.5
print(name)
print( age)
print(price)
print(type(name))
print(type(age))
print(type(price))

 nikita
18
26.5
<class 'str'>
<class 'int'>
<class 'float'>

In [ ]:
name1 = "NP"
name2 = '"NP"'
name3 = 'NP'
print( name1)
print( name2)
print(name3)

NP
"NP"
NP

In [ ]:
print("22+23")

22+23

In [ ]:
print("2*3")

2*3

In [ ]:
print(29*68)

1972